
.global-nav {
    /* makes nav a flex container, puts logo & menu on one line */
    display: flex;

    /* Pushes logo left & nav-links right */
    justify-content: space-between;

    /* Aligns everything vertically */
    align-items: center;
    padding: 1rem;


    position: fixed;

    /* it tells the where sticking begins from */
    top: 0;
    left: 0;
    width: 100%;

    /* this keeps the sticked part above other elemnts */
    z-index: 9999;

    /* prevents content showing through */
    background: white;
    border-radius: 17px;
}

.nav-links {
    /* removes bullet points */
    list-style: none;

    /* makes items sit in a row */
    display: flex;

    /* adds space in between items */
    gap: 10px;
}

/* logo styling */
.Logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

/* style skills connect part */
.connect {
    color: rgb(2, 2, 37);
}

/* style ug part differently */
.ug {
    color: rgb(132, 100, 206);
}

/* style the links like a button */
.service {
    padding: 0.5rem 1rem;
    background: rgb(55, 79, 146);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}


* { 
    box-sizing: border-box; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
} 

body { 
    background-color: #f4f7f6; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin: 0; 
} 

.main-container { 
    width: 100%; 
    max-width: 400px; 
    padding: 20px; 
} 

.form-card { 
    background: white; 
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    text-align: center; 
}

.brand-title { 
    color: #1a3a5f; 
    font-size: 24px; 
    margin-bottom: 25px; 
} 


.highlight { 
    color: #3b82f6; 
} 


.tab-group { 
    display: flex; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin-bottom: 25px; 
    overflow: hidden; 
} 

.tab { 
    flex: 1; 
    padding: 10px; 
    border: none; 
    background: white; 
    cursor: pointer; 
    font-weight: bold; 
    color: #555; 
} 

.tab.active { 
    background-color: #1a3a5f; 
    color: white; 
} 

.input-group { 
    text-align: left; 
    margin-bottom: 15px; 
} 

.input-group label { 
    display: block; 
    font-size: 12px; 
    color: #888; 
    margin-bottom: 5px; 
} 

.input-group input { 
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f9f9f9; 
} 

.btn-primary { 
    width: 100%;
    padding: 12px; 
    background-color: #1a3a5f; 
    color: white; border: none; 
    border-radius: 5px; 
    font-weight: bold; 
    cursor: pointer; 
    margin-top: 10px; 
} 

.form-footer { 
    margin-top: 20px; 
    font-size: 12px; 
    color: #777; 
}

.form-footer a { 
    color: #3b82f6; 
    text-decoration: none; 
} 

.divider { 
    border: 0;
    border-top: 1px solid #eee; 
    margin: 15px 0; 
} 

.page-footer { 
    text-align: center; 
    margin-top: 20px; 
    font-size: 14px; 
    color: #333; 
}

